:root {
  --naranjaXiaomi: #e98509;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#base {
  display: grid;
  grid-template-rows: 200px 60px 1fr;
  width: clamp(450px, 80vw, 450px);
  height: clamp(550px, 90vh, 800px);
  border: 6px solid black;
  border-radius: 20px;
}
.display {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: black;
  color: white;
  font-size: 60px;
  padding-right: 40px;
  box-sizing: border-box;
}

.historial{
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: black;
  color: white;
  font-size: 60px;
  padding-right: 40px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "ac del porcen divi"
    "siete ocho nueve mul"
    "cuatro cinco seis menos"
    "uno dos tres mas"
    ". cero punto igual";
  background-color: black;
  justify-content: center;
  align-items: center;
  column-gap:10px; 
}

.buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 69, 69);
  color: white;
  font-size: 30px;
  width: 90px;
  height: 80px;
  border-radius: 20px;
}

#buttonAC {
  grid-area: ac;
  color: var(--naranjaXiaomi);
}
#buttonDEL {
  grid-area: del;
  color: var(--naranjaXiaomi);
}
#buttonPor {
  grid-area: porcen;
  color: var(--naranjaXiaomi);
}
#buttonDiv {
  grid-area: divi;
  color: var(--naranjaXiaomi);
}
#buttonMul {
  grid-area: mul;
  color: var(--naranjaXiaomi);
}
#buttonMen {
  grid-area: menos;
  color: var(--naranjaXiaomi);
}
#buttonMas {
  grid-area: mas;
  color: var(--naranjaXiaomi);
}
#buttonIgu {
  grid-area: igual;
  color: white;
  background-color: var(--naranjaXiaomi);
}
#button1 {
  grid-area: uno;
}
#button2 {
  grid-area: dos;
}
#button3 {
  grid-area: tres;
}
#button4 {
  grid-area: cuatro;
}
#button5 {
  grid-area: cinco;
}
#button6 {
  grid-area: seis;
}
#button7 {
  grid-area: siete;
}
#button8 {
  grid-area: ocho;
}
#button9 {
  grid-area: nueve;
}
#button0 {
  grid-area: cero;
}
#buttonCom {
  grid-area: punto;
}

.reducir {
  font-size: 35px;
  color: grey;
}

.pop {
  animation: pop .22 ease;
}

@keyframes pop {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}
