:root {
  --naranjaXiaomi: #e98509;
  --blancoXiaomi: #e5e5e5;
  --fondoXiaomi: #242424;
}

@font-face {
  font-family: "MiSans";
  src: url("./fonts/MiSansLatin-Normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: MiSans;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#base {
  display: grid;
  grid-template-rows: 200px 60px 1fr;
  width: clamp(450px, 80vw, 450px);
  height: clamp(680px, 90vh, 800px);
  border: 6px solid black;
  border-radius: 20px;
}

.display {
  width: 100%;
  max-width: 450px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: black;
  color: var(--blancoXiaomi);
  font-size: 60px;
  padding-right: 40px;
  box-sizing: border-box;
}

.historial {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: black;
  color: var(--blancoXiaomi);
  font-size: 60px;
  padding-right: 40px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "ac del porcen divi"
    "siete ocho nueve mul"
    "cuatro cinco seis menos"
    "uno dos tres mas"
    ". cero punto igual";
  background-color: black;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.buttons>button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondoXiaomi);
  color: var(--blancoXiaomi);
  font-size: 30px;
  width: 90px;
  height: 80px;
  border-radius: 20px;
}
.pulsa{
  background-color: #3d3d3d !important;
  animation: pulsada 350ms ease-out;
}

@keyframes pulsada {
  
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.90);
  }

  100% {
    transform: scale(1);
  }
}

#buttonAC {
  grid-area: ac;
  color: var(--naranjaXiaomi);
  font-weight: bolder;
}

#buttonDEL {
  grid-area: del;
  color: var(--naranjaXiaomi);
}

#buttonDEL svg {
  height: 45px;
  width: 50px;
}

#buttonPor {
  grid-area: porcen;
  color: var(--naranjaXiaomi);
  font-weight: bolder;
}

#buttonDiv {
  grid-area: divi;
  color: var(--naranjaXiaomi);
  font-size: 50px;
}

#buttonMul {
  grid-area: mul;
  color: var(--naranjaXiaomi);
  font-size: 50px;
}

#buttonMen {
  grid-area: menos;
  color: var(--naranjaXiaomi);
  font-size: 60px;
}

#buttonMas {
  grid-area: mas;
  color: var(--naranjaXiaomi);
  font-size: 50px;
}

#buttonIgu {
  grid-area: igual;
  color: var(--blancoXiaomi);
  background-color: var(--naranjaXiaomi);
}

#button1 {
  grid-area: uno;
}

#button2 {
  grid-area: dos;
}

#button3 {
  grid-area: tres;
}

#button4 {
  grid-area: cuatro;
}

#button5 {
  grid-area: cinco;
}

#button6 {
  grid-area: seis;
}

#button7 {
  grid-area: siete;
}

#button8 {
  grid-area: ocho;
}

#button9 {
  grid-area: nueve;
}

#button0 {
  grid-area: cero;
}

#buttonCom {
  grid-area: punto;
}

.reducir {
  font-size: 35px;
  color: #a3a3a3;
}

.pop {
  animation: pop 340ms ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/*Limpiamos los botones para darle nosotros los efectos */
button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* Para firefox versiones antiguas */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}